@model VMTipping.Model.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<div>
    <hr />
    <img src="@Model.ImageURL" style="float:left" />
    <dl class="dl-horizontal">



        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-8 collapse">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Hjemme</th>
                    <th>Borte</th>
                    <th>Tippetegn</th>
                    <th>Kamppoeng</th>
                    <th>Total sum</th>
                </tr>
                @foreach (var gameUserScore in Model.MatchPredictions)
                {
                    <tr>
                        <td>@gameUserScore.HomeTeam.Name</td>
                        <td>@gameUserScore.AwayTeam.Name</td>
                        <td></td>
                        <td>
                            
                        </td>
                        <td></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
