@model VMTipping.Model.GameUserScore
<tr>
    <td>@Model.User.Name</td>
    <td>@Model.BetHomeGoals</td>
    <td>@Model.BetAwayGoals</td>
    <td>@Model.MatchPrediction.Result</td>
    <td>@Model.ScoreThisGame</td>
    <td>@Model.TotalScore</td>
</tr>