@model VMTipping.Model.GameUserScore
<tr>
    <td><img src="@Model.User.ImageURL" style="width: 40px; height: 45px;" /></td>
    <td>@Html.ActionLink(Model.User.Name, "Details", "User", new { Id = Model.User.Id }, null)</td> 
    <td>@Model.BetHomeGoals</td>
    <td>@Model.BetAwayGoals</td>
    <td>@Model.MatchPrediction.Result</td>
    <td>@Model.ScoreThisGame</td>
    <td>@Model.TotalScore</td>
</tr>